/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    
}

h1, h2 {
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* form {
    display: flex;
    flex-direction: column;
    
} */

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* modificado al momento de modificar el filtro.............................. */
/* th, td{
    padding: 5px;
} */
/* tr{
    height: 40px;
} */

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* .table-height{
    overflow: hidden;
    height: 200px;
    overflow-y: auto;
} */

button:hover {
    box-shadow: 1px 2px 3px #666666;
    transition: 200ms;
    
}
input:hover{
    
        box-shadow: 1px 2px 3px #666666a4;
        transition: 200ms;
        
    
}
select:hover{
    
    box-shadow: 1px 2px 3px #666666a4;
    transition: 200ms;
    

}
/* styles.css */
.boton-eliminar{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d1cccc;
}
.boton-eliminar:hover{
 background-color:#a3a3a3 ;

}
.error-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8d7da; /* Color de fondo para errores */
    border: 1px solid #f5c6cb; /* Borde del error */
    border-radius: 8px;
    color: #721c24; /* Color del texto del error */
    text-align: center;
}
/* styles.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #007bff; */ /* Color de fondo del navbar */
    color: white; /* Color del texto */
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

.navbar-options {
    display: flex;
    align-items: center;
}

.register-button {
    padding: 10px 15px;
     /* background-color: #28a745;Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.3s;
}

/* .register-button:hover {
    background-color: #218838;
} */
